.or-divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
  }
  
  .or-divider::before,
  .or-divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #928b8b; /* Adjust the color as needed */
  }
  
  .or-divider::before {
    margin-right: 10px;
  }
  
  .or-divider::after {
    margin-left: 10px;
  }

  .footer-container {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  .password-input-container {
    position: relative;
    width: 100%;
  }
  
  .password-input-container input {
    width: 100%;
    padding-right: 40px; /* Space for the eye icon */
  }
  
  .password-toggle-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #555;
  }
  

  
  

  